/* @import url("https://fonts.googleapis.com/css2?family=Imperial+Script&family=Poppins&display=swap"); */

@font-face {
    font-family: Poppins;
    src: url("fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: Imperial Script;
    src: url("fonts/ImperialScript-Regular.ttf");
}