@font-face {
  font-family: Imperial;
  src: url('fonts/ImperialScript-Regular.ttf');
}
@font-face {
  font-family: Poppins;
  src: url("fonts/Poppins-Regular.ttf") format("truetype");
}

* {
  margin: 0px;
  color: #000;
  font-family: Poppins;
  font-size: 15px;
  box-sizing: border-box;
}
